body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
h1 {
  font-size: 35px;
  margin: 0;
  margin-bottom: 10px;
  color: white;
  display: inline-block;
  margin-right: 1em;
}

p {
    color: white;
    line-height: 30px;

    font-family: verdana;
    font-size: 20px;
}
title {
  color: white;
    line-height: 40px;

    font-family: verdana;
    font-size: 20px;


}

h {
    color: white;

    font-family: verdana;
    font-size: 30px;
}
#main {
    margin: auto;
    width: 650px;
    height: 100%;
    font-weight: 300;

    align-content: center;
}

#main p.title {

    font-size: 40px;
}