<!doctype html>
<html lang="en">
<html>
<head>
  <title>Pictur in Picture Tool</title>
  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

  <!-- Latest compiled JavaScript {{ url_for('video_feed') }}-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">

  $(document).ready(function(){
    var clicktime = 0;
    var start = new Date().getTime();
    var totalTime = 0;
    var toBigtime;

    
    $("#video_2").click(function(){
      if(clicktime%2 == 0){
        $("#video_1").animate({
          width: "100%"
        },500);
        toBigtime = new Date().getTime();
      }
      else{
        $("#video_1").animate({
          width: "23%"
        },500);
        var tmp = new Date().getTime();
        totalTime += tmp - toBigtime;
        $("#showText2").html("<p>Total time opening big screen: "+ totalTime/1000 +" s</p>");
      }
      clicktime ++;
    });

    $("#interesting").click(function(){
      //var localTime = new Date();
      var end = new Date().getTime();

      console.log((end-start)/1000);
      $("#showText").html("<p>Time from page loaded to click: " + (end-start)/1000 + " s</p>");
    });
  });
  </script>
  
</head>
<body>

  <div class="container">

    <div class="row">
      <div class="col-sm-2 text-left">
        <button id="interesting" class="btn btn-primary" style="margin-top: 24px;">Click when door closes/opens</button>
        
      </div>
      <div class="col-sm-3 text-left" style="margin-left: 25px;">
        <div id="showText" style="margin-top: 24px;"><p>Time from page loaded to click: 0.000 s</p></div>
        <div id="showText2" style="margin-top: -10px;"><p>Total time opening big screen: 0.000 s</p></div>
      </div>
    </div>

    <div class="row">
      <div style="position:absolute;z-index:3" class="text-left">
        <img style="width:70%" src="mturk_active_task.PNG">
      </div>
      <div id="video_2" style="position:absolute;z-index:4" class="text-right" >
        <div class="col-sm-11">
          <img id="video_1" style="width:23%" src="mturk_vid_next.PNG">
        </div>
      </div>
    </div>

    
    
  </div>

</body>
</html>