<h1>Multi Robot Platform</h1>
<div>
	<% for (var item in robots) { %>
	    <a href="/robot/<%= robots[item].robotid %>"><p>robot<%= robots[item].robotid %> with ip <%= robots[item].ip %></p>
	<% } %>
</div>
