<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
	<h1>Multi Robot Platform</h1>
	<% for (var item in robots) { %>
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-sm-4">
				<a href="/robot/<%= robots[item].robotid %>">
		    	<button style="width: 100%;" class="btn btn-primary">Robot No.<%= robots[item].robotid %> with ip <%= robots[item].ip %> </button>
		    	</a>
		    </div>
		</div>
	<% } %>
</div>
