<style>
#header {
    background-color:black;
    color:black;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:100px;
    background-color:#eeeeee;
    height:300px;
    width:200px;
    float:left;
    padding:5px; 
}
#middle {
    line-height:100px;
    height:300px;
    width:300px;
    float:left;
    padding:5px; 
}
#section {
    width:200px;
    height:300px;
    background-color:#eeeeee;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
</style>