#wrapper {
    width: 100%;
    overflow: visible;
    font-family: 'Roboto', sans-serif;
}

#active {
    width: 50%;
    height: 700px;
    background-color: aliceblue;
    float: left;
}

#passive {
    width: 30%;
    height: 30%;
    float: right;
    background: transparent;
    position: fixed;
    left: 70%;
}

#description {
    width: auto;
    padding: 5px;
    height: auto;
    background-color: black;
    float: left;
    color: white;
    margin: 0 0 0 5px;
}
iframe {
    pointer-events: none;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: auto;
    float: left;
}